<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container-view">

        <header>
            <h1>Todo List</h1>
            <form action="/" method="POST">
                <input type="text" name="item" placeholder="todo item">
                <button type="submit">Add Item</button>
            </form>
        </header>

        <div class="todos-container">
            <% todos.forEach(todo=> { %>
                <li>
                    <form action="/<%= todo._id %>?_method=PUT" method="POST">
                        <input 
                            type="checkbox" 
                            name="isComplete" 
                            <%= todo.isComplete ? 'checked' : '' %> 
                            onchange="this.form.submit()"
                        >
                        <a href="/todo/<%= todo._id %>"><%= todo.item %></a>
                    </form>
                    
                </li>
            <% }); %>
        </div>

    </div>
</body>

</html>