@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #262624;
    --secondary-color: #2A2A29;
    --button-color: #97B47A;
    --delete-button: #D9726F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

h1 {
    margin-bottom: 46px;
    color: white;
    font-family: "Playfair Display", serif;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 16px 0;
    display: flex;
    align-items: center;
}

a {
    color: white;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    flex: 1;
    height: 36px;
    border-radius: 64px;
    margin-right: 32px;
    border: none;
    padding: 16px;
    font-size: 16px;
}

button {
    width: auto;
    height: 36px;
    padding: 0 16px;
    border-radius: 64px;
    border: none;
    background-color: white;
    font-size: 16px;
    color: white;
}

.container-view {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px; 
    min-width: 800px;
}

header {
    border: 0.15px solid rgba(255, 255, 255, 0.15);

    background-color: var(--secondary-color);
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
    color: white;
    width: 100%;
}

header button {
    background-color: var(--button-color);
}

.todos-container {
    border: 0.15px solid rgba(255, 255, 255, 0.15);
    background-color: var(--secondary-color);
    padding: 32px;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#todos-details-container {
    gap: 16px;
}

#update-button {
    background-color: var(--button-color);
}

#delete-button {
    background-color: var(--delete-button);
    color: white;
}
